<nav class="navbar p-2 p-lg-3 mb-3 navbar-expand-lg text-bg-dark navbar-dark border-bottom">
  <div class="container">
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggler" aria-controls="navbarToggler"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/"
       class="navbar-brand align-items-center me-0 me-lg-2 mb-1 text-dark text-decoration-none">
      <img class="bi me-lg-2" ngSrc="assets/icon-white.png" alt="" height="36" width="36">
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler"
         *ngIf="authService.user && authService.user.permissions.indexOf(Permission.EDIT) > -1">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a routerLink="/" routerLinkActive=""
             #overviewLink="routerLinkActive"
             [routerLinkActiveOptions]="{ exact: true }"
             [ngClass]="overviewLink.isActive ? 'link-secondary': 'link-light'"
             class="nav-link px-2">Overview</a>
        </li>
        <li>
          <a routerLink="/tasks" routerLinkActive=""
             #tasksLink="routerLinkActive"
             [ngClass]="tasksLink.isActive ? 'link-secondary': 'link-light'"
             class="nav-link px-2">Tasks</a>
        </li>
        <li>
          <a routerLink="/items" routerLinkActive=""
             #itemsLink="routerLinkActive"
             [ngClass]="itemsLink.isActive ? 'link-secondary': 'link-light'"
             class="nav-link px-2">Items</a>
        </li>
        <li>
          <a routerLink="/categories" routerLinkActive=""
             #categoriesLink="routerLinkActive"
             [ngClass]="categoriesLink.isActive ? 'link-secondary': 'link-light'"
             class="nav-link px-2">Categories</a>
        </li>
        <li>
          <a routerLink="/households" routerLinkActive=""
             #householdsLink="routerLinkActive"
             [ngClass]="householdsLink.isActive ? 'link-secondary': 'link-light'"
             class="nav-link px-2">Households</a>
        </li>
      </ul>
    </div>

    <div class="dropstart">
      <a href="#" class="d-block link-light text-decoration-none" data-bs-toggle="dropdown"
         aria-expanded="false">
        <img *ngIf="authService.user" [ngSrc]="authService.user!.image" alt="" width="36" height="36"
             class="rounded-circle border border-2 border-white">
      </a>
      <ul class="dropdown-menu text-small">
        <li>
          <a class="dropdown-item" href="/swagger-ui.html">
            <i class="bi bi-journal-code"></i>
            API documentation
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-person-gear"></i>
            Settings
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item" (click)="signOut()" href="/">
            <i class="bi bi-box-arrow-left"></i>
            Sign out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
