<nav class="navbar p-2 p-lg-3 mb-3 navbar-expand-lg text-bg-dark navbar-dark border-bottom">
  <div class="container">
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/"
       class="navbar-brand align-items-center me-0 me-lg-2 mb-1 text-dark text-decoration-none">
      <img class="bi me-lg-2" src="assets/icon-white.png" alt="" height="36">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Households</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Categories</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Items</a></li>
        <li><a href="#" class="nav-link px-2 link-light">Tasks</a></li>
      </ul>
    </div>

    <div class="dropstart">
      <a href="#" class="d-block link-light text-decoration-none" data-bs-toggle="dropdown"
         aria-expanded="false">
        <img [src]="authService.user?.image" alt="" width="36" height="36"
             class="rounded-circle border border-2 border-white">
      </a>
      <ul class="dropdown-menu text-small">
        <li><a class="dropdown-item" href="#">New task</a></li>
        <li><a class="dropdown-item" href="#">API documentation</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
