<main class="container">

  <app-overview-section sectionTitle="Overdue tasks"
                        [tasks]="overview?.overdue"
                        (taskAction)="handleAction($event)">
  </app-overview-section>

  <app-overview-section sectionTitle="Upcoming tasks"
                        [tasks]="overview?.upcoming"
                        (taskAction)="handleAction($event)">
  </app-overview-section>

  <app-overview-section sectionTitle="Other tasks"
                        [tasks]="otherTasks"
                        (requestDataAction)="loadOtherTasks()"
                        (taskAction)="handleAction($event)">
  </app-overview-section>

  <app-overview-section sectionTitle="Disabled tasks"
                        [tasks]="disabledTasks"
                        (requestDataAction)="loadDisabledTasks()"
                        (taskAction)="handleAction($event)">
  </app-overview-section>

</main>
<app-completion-modal #completionModal [users]="users"
                      (changesSaved)="loadOverview()"></app-completion-modal>
<app-history-modal #completionHistoryModal></app-history-modal>
<app-task-modal #taskModal (taskSaved)="loadOverview()"></app-task-modal>
<app-defer-modal #deferModal (taskAction)="handleAction($event)"></app-defer-modal>
