<main class="container">

  <app-overview-section sectionTitle="Overdue chores"
                        [tasks]="overview?.overdue"
                        (completeTask)="completionModal.openModal($event)"
                        (showCompletionHistory)="completionHistoryModal.historyItems = $event"
                        (instantlyCompleteTask)="loadOverview()"></app-overview-section>

  <app-overview-section sectionTitle="Upcoming chores"
                        [tasks]="overview?.upcoming"
                        (completeTask)="completionModal.openModal($event)"
                        (showCompletionHistory)="completionHistoryModal.historyItems = $event"
                        (instantlyCompleteTask)="loadOverview()"></app-overview-section>

  <app-overview-section sectionTitle="Disabled chores"
                        [tasks]="overview?.disabled"
                        (completeTask)="completionModal.openModal($event)"
                        (showCompletionHistory)="completionHistoryModal.historyItems = $event"
                        (instantlyCompleteTask)="loadOverview()"></app-overview-section>

</main>
<app-completion-modal #completionModal (changesSaved)="loadOverview()"></app-completion-modal>
<app-history-modal #completionHistoryModal></app-history-modal>
