<nav aria-label="main navigation" class="navbar is-spaced has-shadow" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/chore-manager.png" height="35">
    </a>

    <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="navbarBasicExample"
       role="button">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarBasicExample">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/swagger-ui.html">
            <strong>API Documentation</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
