<app-chores-overview
  [sectionTitle]="'Overdue chores'"
  [tasks]="overview?.overdue">
</app-chores-overview>

<app-chores-overview
  [sectionTitle]="'Upcoming chores'"
  [tasks]="overview?.upcoming">
</app-chores-overview>

<section>
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tasks</p>
          <p class="title">{{ overview?.taskCount }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Items</p>
          <p class="title">{{ overview?.itemCount }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Categories</p>
          <p class="title">{{ overview?.categoryCount }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Users</p>
          <p class="title">{{ overview?.userCount }}</p>
        </div>
      </div>
    </nav>
  </div>
</section>

<app-complete-task-modal (changesSaved)="loadData()"></app-complete-task-modal>
