<section class="hero is-primary is-halfheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="notification box is-danger" [ngClass]="{'is-hidden': !failed}">
            <span class="icon-text has-text-white">
              <span class="icon">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
              <span><strong>Invalid credentials</strong></span>
            </span>
          </div>
          <form class="box">
            <div class="field">
              <label for="email" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" name="email" id="email" placeholder="user@example.com"
                       class="input" required autofocus [(ngModel)]="email">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" name="password" id="password" placeholder="*******"
                       class="input" required [(ngModel)]="password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button type="submit" class="button is-success" (click)="login()">Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
