<div class="modal" [ngClass]="{'is-active': visible}">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">{{ task.id ? 'Edit' : 'Create a new' }} task</p>
			<button class="delete" aria-label="close" (click)="hide()"></button>
		</header>
		<section class="modal-card-body">
			<div class="field">
				<label class="label">Task name</label>
				<div class="control">
					<input class="input" type="text"
					       value="{{task.name}}"
					       (keyup)="task.name=itemName.value"
						   #itemName>
				</div>
			</div>
			<div class="field">
				<label class="label">Task description</label>
				<div class="control">
					<textarea class="textarea"></textarea>
				</div>
			</div>
			<app-image-url-input
					label="Task image URL"
					url="https://bulma.io/images/placeholders/128x128.png">
			</app-image-url-input>

			<div class="field">
				<label class="label">Item</label>
				<div class="select">
					<select #itemCategory>
						<option disabled selected>Select an item</option>
						<option value="a">Cat A</option>
						<option value="b">Cat B</option>
					</select>
				</div>
			</div>

			<hr>

			<div class="tabs">
				<ul>
					<li class="is-active"><a>Dynamic recurrence</a></li>
					<li><a>Fixed recurrence</a></li>
				</ul>
			</div>
			<div class="field has-addons">
				<p class="control">
					<a class="button is-static">
						Every
					</a>
				</p>
				<p class="control">
					<input class="input" type="text" placeholder="number of">
				</p>
				<p class="control">
					<span class="select">
					  <select>
					    <option>days</option>
					    <option>weeks</option>
					    <option>months</option>
						<option>years</option>
					  </select>
					</span>
				</p>
			</div>

			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label">Day of the month</label>
						<div class="control">
							<input class="input" type="text">
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<div class="field">
							<label class="label">Month of the year</label>
							<div class="control">
								<input class="input" type="text">
							</div>
						</div>
					</div>
				</div>
			</div>

			<hr>

			<div class="field">
				<label class="label">Users to notify</label>
				<div class="select is-multiple">
					<select multiple>
						<option>User 1</option>
						<option>User 2</option>
					</select>
				</div>
			</div>

			<label class="label">Remind in advance</label>
			<div class="field has-addons">
				<p class="control">
					<input class="input" type="text" placeholder="Number of">
				</p>
				<p class="control">
					<span class="select">
					  <select>
					    <option>days</option>
					    <option>weeks</option>
					    <option>months</option>
						<option>years</option>
					  </select>
					</span>
				</p>
			</div>

		</section>
		<footer class="modal-card-foot">
			<button class="button is-success"
			        (click)="saveItem()">Save changes</button>
			<button class="button" (click)="hide()">Cancel</button>
		</footer>
	</div>
</div>
