<section>
	<div class="container" style="border-radius: 4px; background-color: white">
		<div class="columns mt-5 mb-0 px-4 is-vcentered">
			<div class="column is-narrow">
				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/128x128.png">
				</figure>
			</div>
			<div class="column">
				<div class="subtitle mb-0">Očisti mrvice</div>
				<div>
					Toster
					<span class="px-2" style="color: #b5b5b5">/</span>
					Due in 5 days
				</div>
			</div>
			<div class="column is-narrow">
				<figure class="image is-32x32">
					<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
				</figure>
			</div>
			<div class="column is-narrow">
				<app-task-shortcuts></app-task-shortcuts>
			</div>
		</div>
	</div>
</section>
