<div class="modal" [ngClass]="{'is-active': visible}">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">{{ item.id ? 'Edit' : 'Create a new' }} item</p>
			<button class="delete" aria-label="close" (click)="hide()"></button>
		</header>
		<section class="modal-card-body">
			<div class="field">
				<label class="label">Item name</label>
				<div class="control">
					<input class="input" type="text"
					       value="{{item.name}}"
					       (keyup)="item.name=itemName.value"
						   #itemName>
				</div>
			</div>
			<div class="field">
				<label class="label">Item image URL</label>
				<div class="control">
					<input class="input" type="text"
					       value="{{item.url}}"
					       (keyup)="item.url=itemUrl.value"
						   #itemUrl>
				</div>
			</div>
			<div class="field">
				<label class="label">Item category</label>
				<div class="select">
					<select (input)="item.category.id=itemCategory.value" #itemCategory>
						<option disabled selected>Select an item category</option>
						<option value="a">Cat A</option>
						<option value="b">Cat B</option>
					</select>
				</div>
			</div>
		</section>
		<footer class="modal-card-foot">
			<button class="button is-success"
			        (click)="saveItem()"
			        [disabled]="!item.name || !item.url || !item.category.id">Save changes</button>
			<button class="button" (click)="hide()">Cancel</button>
		</footer>
	</div>
</div>
