<section>
	<div class="container" style="border-radius: 4px; background-color: white">
		<div class="columns mt-5 mb-0 px-4 is-vcentered" (click)="toggleTasks()">
			<div class="column is-narrow">
				<figure class="image is-64x64">
					<img src="https://bulma.io/images/placeholders/128x128.png">
				</figure>
			</div>
			<div class="column">
				<div class="subtitle mb-0">Toster</div>
				<div>
					Kućni aparati
					<span class="px-2" style="color: #b5b5b5">/</span>
					3 tasks
					<span class="px-2" style="color: #b5b5b5">/</span>
					Due in 5 days
				</div>
			</div>
			<div class="column is-narrow">
				<div class="field has-addons">
					<p class="control">
						<button class="button">
		                    <span class="icon">
		                      <i class="fa-solid fa-pen-to-square"></i>
		                    </span>
						</button>
					</p>
					<p class="control">
						<button class="button">
		                    <span class="icon">
		                      <i class="fa-solid fa-trash-can"></i>
		                    </span>
						</button>
					</p>
				</div>
			</div>
			<div class="column is-narrow">
				<span class="icon pr-3">
                  <i [class]="isExpanded ? 'fa-solid fa-chevron-up' : 'fa-solid fa-chevron-down'"></i>
                </span>
			</div>
		</div>
		<div [ngClass]="{'is-hidden': !isExpanded}">
			<hr class="m-0">
			<div class="p-4">
				<div class="columns is-vcentered">
					<div class="column is-narrow">
						<figure class="image is-48x48">
							<img src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>
					<div class="column">
						<div class="subtitle mb-0">Očisti mrvice</div>
					</div>
					<div class="column is-narrow">
						<figure class="image is-32x32">
							<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>
					<div class="column is-narrow">
						7 days
					</div>
					<div class="column is-narrow">
					<span class="icon pr-3">
	                  <i class="fa-solid fa-chevron-right"></i>
	                </span>
					</div>
				</div>
				<div class="columns is-vcentered">
					<div class="column is-narrow">
						<figure class="image is-48x48">
							<img src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>
					<div class="column">
						<div class="subtitle mb-0">Očisti mrvice</div>
					</div>
					<div class="column is-narrow">
						<figure class="image is-32x32">
							<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>
					<div class="column is-narrow">
						7 days
					</div>
					<div class="column is-narrow">
					<span class="icon pr-3">
	                  <i class="fa-solid fa-chevron-right"></i>
	                </span>
					</div>
				</div>
				<div class="columns is-vcentered">
					<div class="column is-narrow">
						<figure class="image is-48x48">
							<img src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>
					<div class="column">
						<div class="subtitle mb-0">Očisti mrvice</div>
					</div>
					<div class="column is-narrow">
						<figure class="image is-32x32">
							<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
						</figure>
					</div>
					<div class="column is-narrow">
						7 days
					</div>
					<div class="column is-narrow">
					<span class="icon pr-3">
	                  <i class="fa-solid fa-chevron-right"></i>
	                </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
