<div class="mt-5">
  <div class="columns is-vcentered">
    <div class="column">
      <p class="has-text-weight-semibold is-size-5-mobile">{{ task?.name }}</p>
      <nav aria-label="breadcrumbs" class="breadcrumb is-small">
        <ul>
          <li><a href="#" class="is-size-6-mobile">{{ task?.item?.category?.name }}</a></li>
          <li><a href="#" class="is-size-6-mobile">{{ task?.item?.name }}</a></li>
        </ul>
      </nav>
    </div>
    <div class="column is-narrow is-full-mobile">
      <div class="columns is-vcentered is-mobile">
        <div *ngFor="let user of task?.reminder?.usersToNotify">
          <div class="column is-narrow pr-0">
            <figure class="image is-32x32">
              <img [src]="user.image" class="is-rounded">
            </figure>
          </div>
        </div>
        <div class="column is-narrow-tablet has-text-right pl-6">
          <span
            [ngClass]="{
              'has-text-danger': task?.occurrence.daysUntilNextOccurrence < 0,
              'has-text-weight-semibold': task?.occurrence.daysUntilNextOccurrence <= 1
            }">
            {{ getRelativeDateString() }}
          </span>
        </div>
        <div class="column is-narrow pl-5">
          <div>
            <span
              (click)="markComplete.emit(task ? task.id : '')"
              class="icon is-medium has-text-success is-clickable">
              <i class="fa-solid fa-lg fa-list-check"></i>
            </span>
            <span
              (click)="toggleDetails()"
              [ngClass]="{'is-hidden': isExpanded}"
              class="icon is-medium is-clickable ml-3">
              <i class="fa-solid fa-angle-right"></i>
            </span>
            <span
              (click)="toggleDetails()"
              [ngClass]="{'is-hidden': !isExpanded}"
              class="icon is-medium is-clickable ml-3">
              <i class="fa-solid fa-angle-up"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="mb-5 p-3"
    style="background-color: #f5f5f5; border-radius: 4px"
    [ngClass]="{'is-hidden': !isExpanded}">
    <div class="block">
      <div>
        <span class="icon-text">
          <span class="icon">
              <i class="fa-solid fa-pencil"></i>
          </span>
          <span class="has-text-weight-semibold">Description</span>
        </span>
      </div>
      <div>
        {{task?.description}}
      </div>
    </div>
    <div class="block">
      <div>
        <span class="icon-text">
          <span class="icon">
              <i class="fa-solid fa-flag-checkered"></i>
          </span>
          <span class="has-text-weight-semibold">Last completed</span>
        </span>
      </div>
      <div>
        {{getLastCompleted()}}
      </div>
    </div>
    <div class="block">
      <div>
        <span class="icon-text">
          <span class="icon">
              <i class="fa-solid fa-clock-rotate-left"></i>
          </span>
          <span class="has-text-weight-semibold">Completion history</span>
        </span>
      </div>
      <div class="m-2 mt-3">
        <div class="media pl-4" *ngFor="let completionHistory of task?.history.slice().reverse()">
          <div class="media-left">
            <figure class="image is-16x16">
              <img [src]="completionHistory.user.image" class="is-rounded">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-7">{{completionHistory.user.name}}</p>
            <p class="subtitle is-7">{{completionHistory.dateCompleted}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="m-0">
</div>
