<div class="columns is-vcentered">
	<div class="column">
		<p class="has-text-weight-semibold">{{ task?.name }}</p>
		<nav class="breadcrumb is-small" aria-label="breadcrumbs">
			<ul>
				<li><a href="#">{{ task?.object?.category?.name }}</a></li>
				<li><a href="#">{{ task?.object?.name }}</a></li>
			</ul>
		</nav>
	</div>
	<div class="column is-narrow">
		<figure class="image is-32x32">
			<img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
		</figure>
	</div>
	<div class="column is-2 has-text-right">
		<span [ngClass]="{'has-text-danger': task?.daysUntilNextRecurrence < 0}">
			{{ getRelativeDateString() }}</span>
	</div>
	<div class="column is-narrow">
		<app-task-shortcuts></app-task-shortcuts>
	</div>
</div>
