<section class="pt-6" [ngClass]="{'is-hidden': tasks?.length === 0}">
  <div class="container">
    <div class="columns pb-5">
      <div class="column px-4" style="border-radius: 4px; background-color: white">
        <p [textContent]="sectionTitle" class="subtitle pt-2"></p>
        <div *ngFor="let task of tasks" class="container chore-item">
          <app-chore-item (markComplete)="markComplete.emit($event)" [task]="task"></app-chore-item>
        </div>
      </div>
    </div>
  </div>
</section>
